boto3==1.14.42
botocore==1.17.42
black==19.3b0
docutils==0.16
jmespath==0.10.0
python-dateutil==2.8.1
s3transfer==0.3.3
six==1.15.0
urllib3==1.25.10
flake8==3.8.3
chalice==1.14.1
pytest==6.0.1
pytest-cov==2.10.0
pytest-dependency==0.5.1